aiohappyeyeballs
aiohttp
aiosignal
annotated-types
attrs
beautifulsoup4
bidict
blinker
certifi
cffi
charset-normalizer
click==8.1.8
cryptography
dnspython==2.7.0
Flask==3.1.3
Flask-PyMongo==3.0.1
Flask-SocketIO==5.6.1
frozenlist
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet==3.2.5
grpcio==1.66.2
grpcio-status
h11
http_ece==1.2.1
httplib2
idna
itsdangerous
Jinja2
MarkupSafe
mongomock
multidict
packaging==24.2
propcache
proto-plus
protobuf
psutil
py-vapid
pyasn1
pyasn1_modules
pycparser
pydantic==2.9.2
pydantic_core==2.23.4
pymongo==4.9.1
pyparsing==3.1.4
python-dotenv
python-engineio
python-socketio
pytz==2025.2
pywebpush
requests
sentinels
simple-websocket
soupsieve
tqdm
typing-inspection
typing_extensions
uritemplate
urllib3
Werkzeug
wsproto
yarl
gunicorn
fpdf2
pandas
openpyxl
python-docx
markdown

eventlet
flask-compress
Pillow
matplotlib
numpy
